:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: #673ab7;
    main {
        padding: 24px;
        width: 40%;
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  }